@model Production.Models.TaskGameModel

@{
    ViewBag.Title = "TaskGameView";
}
<div class="wrap-contact3">
    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <span class="contact3-form-title">
                Task Game
            </span>


            <div class="wrap-input3 validate-input" data-validate="nameTask is required">
                <input class="input3" type="text" name="nameTask" placeholder="Name Task">
                <span class="focus-input3"></span>
            </div>

            <div class="wrap-input3 validate-input" data-validate="descriptionTask is required">
                <input class="input3" type="text" name="descriptionTask" placeholder="Description Task">
                <span class="focus-input3"></span>
            </div>

            <div class="form-group">
                <div class="container-contact3-form-btn">
                    <input type="submit" value="Create" class="contact3-form-btn">
                    <br>
                    <button><a href="/Status" class="contact3-form-btn">Add Status</a></button>

                </div>
            </div>
        </div>

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}